<h2>Exporte</h2>
<form method="post" action="/Exports/Excel" class="row gy-2 mb-3">
    <div class="col"><label class="form-label">Von</label><input class="form-control" type="date" name="from" required /></div>
    <div class="col"><label class="form-label">Bis</label><input class="form-control" type="date" name="to" required /></div>
    <div class="col-auto"><label class="form-label">&nbsp;</label><button class="btn btn-success w-100" type="submit">Excel Export</button></div>
</form>
<form method="post" action="/Exports/Pdf" class="row gy-2">
    <div class="col"><label class="form-label">Von</label><input class="form-control" type="date" name="from" required /></div>
    <div class="col"><label class="form-label">Bis</label><input class="form-control" type="date" name="to" required /></div>
    <div class="col-auto"><label class="form-label">&nbsp;</label><button class="btn btn-primary w-100" type="submit">PDF Export</button></div>
</form>
